##naming the file

name: CI workflow


#adding a trigger
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]


#specifying the job
jobs:
  #specifying what environment to build
  build:
    runs-on: ubuntu-latest
    container: python:3.9-slim
    #specifying the steps to execute after build completes
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install dependencies
        run : |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          flake8 service --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 service --count --max-complexity=10 --max-line-length=127 --statistics
    
        

